footer.container
  p
    | This "fcc-voting" app is built by 
    a(href="https://www.freecodecamp.com/elisecode247" target="_blank") 
      span.sr-only Opens in new window 
      | @elisecode247
    |  of 
    a(href="https://www.freecodecamp.com" target="_blank") 
      span.sr-only Opens in new window 
      | freecodecamp
    | , following the instructions of "
    a(href="https://www.freecodecamp.com/challenges/build-a-voting-app" target="_blank")
      span.sr-only Opens in new window
      | Basejump: Build a Voting App
    | ".
  p  Issues? Submit to
    a(href="https://github.com/elisecode247/voting-app/issues") 
      span.sr-only Opens in new window 
      | GitHub
    | .