$color__background: #FFBC72;
$color__font: #222;
$color__link: #1776B6;
$color__primary: #FF7F00;
$color__accent: #00BED1;

$font__serif: Bitter,Century,Georgia,Times,serif;
$font__sans-serif: Raleway,Roboto,Arial,sans-serif;