extends layout
block page
  - var menu = 'polldetails'
block content
  h1#pollTitle
  a(href="https://twitter.com/share", class="btn btn-social-icon btn-twitter")
    span(class="fa fa-twitter")
  a(class="btn btn-social-icon btn-facebook", href="#", onclick="window.location = 'https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(window.location); return false")
    span(class="fa fa-facebook")
  a(href="https://www.reddit.com/submit", class="btn btn-social-icon btn-reddit", onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false")
    span(class="fa fa-reddit")
  form(role="form")
    .form-group
      label(for='choices', id='labelChoices') I am voting for:
      select(id='choices', class="form-control form-control-lg", name='choices')
        if (loggedIn === true)
          option(selected=false) Choose something else
      label(for='otherOption', id="labelOtherOption") Vote with my own option:
      input(type="text", name="otherOption", value="", id="otherOption")
    button(type='submit', class="btn btn-primary btn-vote") Vote
  svg
block scripts
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css")
  script(src="https://use.fontawesome.com/610b820b5f.js")
  script(src="https://d3js.org/d3.v4.min.js")
  script(type='text/javascript', src="controllers/chartController.client.js")